.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.active {
    background-color: rgb(215, 227, 250);
    font-size: 11px;
}

.deactivated {
    color: red;
}

.activated {
    color: yellow;
}

.verfied {
    color: rgb(105, 190, 105);
}


/*2nd section*/

.header {
    background-color: rgb(72, 149, 236);
    height: 40px;
}

.filter {
    color: whitesmoke;
}

.input-sm {
    height: 30px;
    background-image: url("../images/search-icon.png") !important;
    background-position: 6px 6px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

.Accent {
    width: 100%;
    overflow: auto;
}

.round {
    border-radius: 50px !important;
    border-color: #ddd;
    height: 22px;
    line-height: 14px !important;
}

.phone {
    color: rgb(131, 184, 96);
}

.table {
    font-size: 11px;
}

.table_1 {
    width: 100%;
    height: 37px;
}

.n-pad {
    padding: 0 !important;
}

.tab-2 {
    width: 50px
}

.jb {
    height: 25px;
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jb-1 {
    height: 25px;
    width: 25px;
}

.check {
    display: block;
    margin-left: auto;
    margin-right: auto;
}