.global-container{
	
	background-color: #F5F5F5;


}
.content-container{
	width: 1128px;
	margin: 0 auto;

}
.banner{
	padding: 16px 0;
}
.Section{
	display: grid;
	grid-template-columns: calc((576px * .70833) + 384px) 1fr;
	height: 100;
}
.right-section{

	
    margin-left: calc((576px * 0) - 24px + 49px);
}
.left-section{
height:100%;
}

.background{

	
	background: url("../img/back.jpg");
	background-size: 100%;
	width: 100%;
	height: 197px;
}
.img{
	width: 200px; 
	margin: -66px auto;


	

	
}
.image{
	width: 128px;
    height: 128px;
    border: 3px solid #ffffff;
     border-image-outset: 10px;
    
    border-radius: 50%;
    
}
.image-container{
     width: 128px;
    height: 128px;
    margin:auto;
}
.profile-container{
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	
}
.profile{
	

	
	display:flex;
	



}
.pen-container{
	display: flex;
	margin-top: 30px;
	justify-content: flex-end;


}
.dot{
color: #666666;
width: 24px;
height: 24px;
margin-right: 16px;

}
.pen{
color: #0084BF;
width: 24px;
height:24px;
margin-right: 28px;
}
.name{
font-family: 	Helvetica, Arial, sans-serif;
font-size: 24px;

color:rgba(0, 0, 0, 0.9);
}
.intro{
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-top: 20px;
}
.uni{
	font-family: 	Helvetica, Arial, sans-serif;
	margin-top: 8px;

}
.curr-uni{
	font-family: 	Helvetica, Arial, sans-serif;
	color:#757575;
	margin-top: 8px;
}
.city{
	font-family: 	Helvetica, Arial, sans-serif;
	color:#757575;
	margin-top: 8px;
	padding-bottom:28px;
}
.friend{
	
	color: black;
}
.dot2{
	width: 4px;
	height:8px;
	margin:0 4px;

}